@page
@model AviatorWebSite.Pages.Instructors.AddNewModel

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Add Instructor</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Instructor.Name"></label>
            <input asp-for="Instructor.Name" class="form-control" />
            <span asp-validation-for="Instructor.Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Instructor.PhoneNumber"></label>
            <input asp-for="Instructor.PhoneNumber" class="form-control" />
            <span asp-validation-for="Instructor.PhoneNumber" class="text-danger"></span>
        </div>
        <div asp-validation-summary="All"></div>
        <button type="submit" class="btn btn-primary" style="width:110px;">Add</button>
        <a asp-page="Index" class="btn btn-secondary" style="width:130px;">Back to List</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
